<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<internalpayment>
				<active>1</active>
				<model>Trezo\InternalPayment\Model\Payment\InternalPayment</model>
				<order_status>pending</order_status>
				<title>Internal Payment Method</title>
				<allowspecific>0</allowspecific>
				<group>internal</group>
			</internalpayment>
		</payment>
	</default>
</config>
